<header id="header">
  <div class="wrapper">
    <h1>7Geese</h1>
    <h2>GitHub Community</h2>
  </div>
</header>

<div class="wrapper">
  <div id="hero">
    <p>7Geese is a social performance tool for continuous feedback, coaching, recognition, and goal tracking without relying on performance reviews.</p>
    <p>And just like you shouldn't rely on performance reviews, you shouldn't have to rely on paid software.</p>
  </div>

  <Repos/>
</div>

<footer id="footer">
  <div class="wrapper">
    Built by <a href="https://www.7Geese.com">Paltech Solutions Inc. dba 7Geese </a> &copy; 2014
  </div>
</footer>
