<div class="theme-7geese">
  <header id="header">
    <div class="wrapper">
      <div id="logo">
        7Geese Community
      </div>
    </div>
  </header>

  <div id="hero">
    <h1>7Geese is a social performance tool for continuous feedback, coaching, recognition, and goal tracking without relying on performance reviews.</h1>
    <p>And just like you shouldn't rely on performance reviews, you shouldn't rely on paid software. Stand on our shoulders, we are giants (canucks really).</p>
  </div>

  <div class="wrapper">
    <Repos/>
  </div>

  <footer id="footer">
    <div class="wrapper">
      Built by <a href="https://www.7Geese.com">Paltech Solutions Inc. dba 7Geese </a> &copy; 2014
    </div>
  </footer>
</div>