@import "../../node_modules/normalize.css/normalize.css";
@import "https://fonts.googleapis.com/css?family=Fira+Sans:400,500";

html,
body {
  height: 100%;
  margin: 0;
}

body,
input {
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 0.25px;
}

@import "./app.scss";
